<!doctype html>
<link rel=stylesheet type=text/css href="{{url_for('static',
  filename='style.css')}}">

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul class=flash>
  {% for message in messages %}
  <li><em>{{message}}</em></li>
  {% endfor %}
</ul>

{% endif %}
{% endwith %}

<h3>
{% if session['username'] %}
  Logged in as {{session['username']}}
  <a href={{url_for('gdisconnect')}}>Do you need to log out?</a>
{% else %}
  <a href={{url_for('showLogin')}}>Would you care to log in?</a>
{% endif %}
</h3>

<div class=page>
  {% block body %}{% endblock %}
</div>
