{% extends "catalog_base.html" %}
{% block body %}

<h3> Now editing this item:</h3>
<h1>{{item['name']}}</h1>

<p>If a new value is not entered, current value will be retained.</p>

<form action= "{{url_for('itemEdit', item_name=item['name'])}}" method = 'POST'>

<dl>
  <dt>Enter new name:</dt>
  <dd><input type = 'text' size='80' name = 'name' placeholder = '{{item['name']}}'></dd>
  <br>
  <dt>Enter new description:</dt>
  <dd><textarea rows='4' cols='80' name = 'description' placeholder = '{{item['description']}}'></textarea></dd>
</dl>

<p>
At least one category required:
<table>
{% for row in categorytable %}
<tr>
  {% for column in row %}
  {% if column in item['categories'] %}
  <td><input type='checkbox' name='categories' checked value='{{column}}'>{{column}}</td>
  {% else %}
  <td><input type='checkbox' name='categories' value='{{column}}'>{{column}}</td>
  {% endif %}
  {% endfor %}
</tr>
{% endfor %}
</table>
</p>

<p>
  Click Submit to confirm changes: <input type='submit' value='Submit'>
</p>
</form>

<br>
<nav>
<a href= '{{url_for('itemDetails', item_name=item['name'])}}'>Cancel</a><br>
<a href='{{url_for('categories')}}'>Back to catalog</a>
</nav>

{% endblock %}
