{% extends "catalog_base.html" %}
{% block body %}

<h1>{{item}} Edit</h1>

<p>If a new value is not entered, current value will be retained.</p>

<form action= "{{url_for('itemEdit', item_name=item)}}" method = 'POST'>

<dl>
  <dt>Enter new name:
  <dd><input type = 'text' size='80' name = 'name' placeholder = '{{item}}'></p>
  <dt>Enter new description:
  <dd><textarea rows='4' cols='80' name = 'description' placeholder = '{{description}}'></textarea></p>
</dl>

At least one category required:<br>
<table>
{% for row in categorytable %}
<tr>
  {% for column in row %}
  {% if column in itemcategories %}
  <td><input type='checkbox' name='categories' checked value='{{column}}'>{{column}}</td>
  {% else %}
  <td><input type='checkbox' name='categories' value='{{column}}'>{{column}}</td>
  {% endif %}
  {% endfor %}
</tr>
{% endfor %}
<table>

<p>
  Click Submit to confirm changes:
  <input type='submit' value='Submit'>
</p>
</form>
<a href= '{{url_for('itemDetails', item_name=item)}}'>Cancel</a>

<div>
<p><a href='{{url_for('categories')}}'>Back to catalog</a></p>
</div>

{% endblock %}
