{% extends "catalog_base.html" %}
{% block body %}

<h1>All items and associated categories</h1>

<table class=allitems>
<tr>
  <th>Items</th>
  <th>Categories</th>
</tr>
{% for i in items %}
<tr>
  <td><a href='{{url_for('itemDetails', item_name=i['name'])}}'>{{i['name']}}</a></td>
  <td>
  {% if i['categories'] == [] %}
  No categories!
  {% else %}
    {% for c in i['categories'] %}
      <a href='{{url_for('categoryItems', category_name=c)}}'>{{c}}</a>;&nbsp;
    {% endfor %}
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>

<br><br>
<nav>
  <a href='{{url_for('categories')}}'>Back to CATaLOG</a>
</nav>

{% endblock %}
