{% extends "catalog_base.html" %}
{% block body %}

<h1>Creating a New Item</h1>

<p>Item name and description required.</p>

<form action= "{{url_for('itemNew')}}" method = 'POST'
  enctype="multipart/form-data">

<dl>
  <dt>Enter new name:</dt>
  <dd><input type = 'text' size='80' name = 'name'></p></dd>
  <dt>Enter new description:</dt>
  <dd><textarea rows='4' cols='80' name = 'description'></textarea></p></dd>
  <dt>Enter new image:</dt>
  <dd>
    <input type="radio" name="image" checked value="No image">Use no image<br>
    <input type="radio" name="image" value="New image">Use a new image
      <input type='file' name='image_file' accept="image/*"><br>
  </dd>
</dl>

At least one category required:<br>
<table>
{% for row in categorytable %}
<tr>
  {% for column in row %}
  <td><input type='checkbox' name='categories' value='{{column}}'>{{column}}</td>
  {% endfor %}
</tr>
{% endfor %}
<table>

<p>
  Click Submit to confirm changes:
  <input type='submit' value='Submit'>
</p>
</form>

<br>
<nav>
  <a href= '{{url_for('categories')}}'>Cancel and go back to CATaLOG</a>
</nav>

{% endblock %}
