{% extends "catalog_base.html" %}
{% block body %}

<h1>Creating a New Item</h1>

<p>Item name and description required.</p>

<form action= "{{url_for('itemNew')}}" method = 'POST'>

<dl>
  <dt>Enter new name:
  <dd><input type = 'text' size='80' name = 'name'></p>
  <dt>Enter new description:
  <dd><textarea rows='4' cols='80' name = 'description'></textarea></p>
</dl>

At least one category required:<br>
<table>
{% for row in categorytable %}
<tr>
  {% for column in row %}
  <td><input type='checkbox' name='categories' value='{{column}}'>{{column}}</td>
  {% endfor %}
</tr>
{% endfor %}
<table>

<p>
  Click Submit to confirm changes:
  <input type='submit' value='Submit'>
</p>
</form>

<br>
<nav>
  <a href= '{{url_for('categories')}}'>Cancel and go back to catalog</a>
</nav>

{% endblock %}
